$font-family: 'Montserrat', sans-serif;
$font-extra-light: (
    font-family:$font-family,
    font-weight:100
);
$font-medium-light: (
    font-family:$font-family,
    font-weight:200
);
$font-light: (
    font-family:$font-family,
    font-weight:300
);
$font-light-bold: (
    font-family:$font-family,
    font-weight:400
);
$font-regular: (
    font-family:$font-family,
    font-weight:500
);
$font-regular-bold: (
    fontfamily:$font-family,
    font-weight:600
);
$font-bold-light: (
    font-family:$font-family,
    font-weight:700
);
$font-bold-medium: (
    font-family:$font-family,
    font-weight:800
);
$font-bold: (
    font-family:$font-family,
    font-weight:900
);
@mixin font-style($font) {
    @each $property,$value in $font {
        #{$property}:$value;        
    }
}