@import './abstracts/variable';
@import './mixins/breakpoints';
@import './abstracts/common';
@import './includes/header';
@import './includes/footer';

.banner-wrapper{
    @include media-min-md{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .banner-section-image{
        margin-top: 20px;
        margin-left: 10px;
    }
    .banner-section-content{
        padding: 2rem 15px;
        text-align: center;
        @include media-min-md{
            text-align: left;
        }
        @include media-min-xl{
            margin-left: 10%;
            padding: 0;
        }
        p{
            padding: 15px 0;
            @include font-style($font-light);
            @include media-min-md{
                font-size: 20px;
            }
            @include media-min-lg-x{
                font-size: 25px;
            }
        }
        h2{
            font-size: 1.7rem;
            @include font-style($font-bold-light);
            padding-bottom: 15px;
            @include media-min-md{
                font-size: 2.3rem;
                padding-bottom: 20px;
            }
            @include media-min-lg{
                font-size: 3rem;
            }
            @include media-min-xl{
                font-size: 4rem;
                width: 56%;
                line-height: 1.2;
            }
        }
        h6{
            font-size: 15px;
            @include font-style($font-regular);
            margin-bottom: 30px;
            @include media-min-md{
                font-size: 18px;
            }
            @include media-min-lg-x{
                width: 70%;
                line-height: 1.4;
            }
        }
        .contact{
            border: none;
            box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.418);
            padding : 15px 5px;
            margin-top: 1rem;
            color: rgba(128, 128, 128, 0.472);
            @include media-min-lg-x{
                width: 50%;
                padding: 18px 15px;
                font-size: 18px;
            }
        }
        .btn-contact{
            background: linear-gradient(150deg, darkorange 40%, #f3ba0efb 60%);
            border: none;
            margin-top: 1rem;
            padding:  15px 8px;
            color: white;
            @include font-style($font-bold-medium);
            border-top-right-radius:5px;
            border-bottom-right-radius:5px;
            box-shadow: 0 4px 4px rgba(128, 128, 128, 0.418);
            @include media-min-lg-x{
                padding: 18px 30px;
                font-size: 18px;
            }
        }
    }
}
.luxury-design-wrapper{
    .luxury-design-content{
        padding: 30px 15px;
        text-align: center;
        @include media-min-xl{
            text-align: left;
            width: 30%;
            margin-left: 10%;
            padding: 0;
            margin-bottom: 5rem;
        }
        h5{
            letter-spacing:4px;
            padding: 15px 0;
            font-family: $font-family;
            @include font-style($font-light-bold);
            @include media-min-xl{
                padding: 0 0 30px 0;
                font-size: 1.5rem;
            }
        }
        h2{
            font-size: 2rem;
            padding-bottom: 15px;
            @include font-style($font-bold-light);
            @include media-min-xl{
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        p{
            font-size: 16px;
            line-height: 1.3;
            font-family: $font-family;
            @include media-min-xl{
                line-height: 1.5;
            }
        }
    }
}
.content-details{
    padding: 20px;
    @include media-min-xl{
        width: 80%;
        margin: 0 auto;
        padding: 0 0 4rem 0;
    }
    .box-2{
        @include media-min-xl{
            margin-top: 50px;
        }
    }
    .box-1{
        @include media-min-md{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .content-comman{
            padding: 15px 0;
            margin: 15px 0;
            @include media-min-md{
                padding: 15px 0;
                width: 32%;
                &:hover{
                    box-shadow: 0 0 12px 2px rgba(128, 128, 128, 0.418);
                }
            }
            @include media-min-xl{
                width: 25%;
                &:hover{
                    padding:8px;
                }
            }
            h4{
                padding: 12px 0;
                @include font-style($font-bold-light);
                @include media-min-xl{
                    font-size: 1.5rem;
                }
            }
            p{
                padding: 12px 0;
                line-height: 1.5;
                @include font-style($font-light-bold);
            }
        }
    }
}
.video-wrapper{
    padding: 15px;
    @include media-min-md{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include media-min-xl{
        width:80%;
        margin: 20px auto;
        padding: 0;
    }
    .video{
        @include media-min-md{
            width: 48%;
        }    
        @include media-min-xl{
            width: 46%;
        }  
    }
    .video-content{
        text-align: center;
        padding: 20px 0;
        @include media-min-md{
            text-align: left;
            width: 48%;
        }
        @include media-min-xl{
            width: 46%;
        } 
        h5{
            font-size: 18px;
            letter-spacing: 4px;
            padding: 15px 0;
            @include font-style($font-light-bold);
        }
        h2{
            padding-bottom: 15px;
            font-size: 2rem;
            @include font-style($font-bold-light);
            @include media-min-xl-x{
                font-size: 3.2rem;
                width: 70%;
                padding-bottom: 1.6rem;
            }
        }
        p{
            font-size: 18px;
            line-height: 1.2;
            @include font-style($font-light-bold);
            padding-bottom: 2rem;
            @include media-min-xl-x{
                width: 65%;
                padding-bottom: 4rem;
                line-height: 1.5;
            }
        }
        button{
            padding: 15px 20px;
            border:none;
            letter-spacing: 4px;
            background: linear-gradient(150deg, darkorange 40%, #f3ba0efb 60%);
            color: white;
            @include font-style($font-bold-light);
        }
    }
}
.useful-info-wrapper{
    .useful-info-content{
        padding: 30px 15px;
        text-align: center;
        @include media-min-xl{
            text-align: left;
            width: 40%;
            margin-left: 10%;
            margin-top: 8rem;
            margin-bottom: 4rem;
            padding: 0;
        }
        h5{
            letter-spacing:4px;
            padding: 15px 0;
            font-family: $font-family;
            @include font-style($font-light-bold);
            @include media-min-xl{
                padding: 0 0 35px 0;
                font-size: 1.3rem;
            }
        }
        h2{
            font-size: 2rem;
            padding-bottom: 15px;
            @include font-style($font-bold-light);
            @include media-min-xl{
                font-size: 3rem;
                padding-bottom: 25px;
            }
        }
        p{
            font-size: 16px;
            line-height: 1.3;
            font-family: $font-family;
            @include media-min-xl{
                line-height: 1.8;
            }
        }
    }
}
.event-section{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 16px;
        padding: 3rem 15px;
    }
    @include media-min-xl{
        width: 80%;
        margin: 0 auto 8rem;
        padding: 0;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
    }
    h4{
        font-size: 12px;
        @include font-style($font-bold-light);
        @include media-min-md{
            font-size: 15px;
        }
    }
    i{
        margin-right: 6px;
        @include media-min-md{
            margin-right: 15px;
        }
        @include media-min-xl-x{
            margin-right: 3rem;
        }
    }
    .event-1{
        box-shadow: 0 0 12px 2px rgba(128, 128, 128, 0.418);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        margin-top: 15px;
        &:hover{
            background: linear-gradient(150deg,#473ef5da 20% ,#6058f8 20%, #6b63fffb 20% ,#4640bbe3 40%);
        }
        @include media-min-md{
            padding: 15px 20px;
            margin: 0;
        }
        button{
            padding: 5px 10px;
            cursor: not-allowed;
            border-radius: 5px;
            font-size: 12px;
            border: none;
            color: grey;  
            opacity: 0.7;
            @include media-min-md{
                padding: 10px 15px;
            }
        }
    }
    .open{
        box-shadow: 0 0 12px 2px rgba(128, 128, 128, 0.418);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        margin-top: 15px;
        &:hover{
            background: linear-gradient(150deg,#473ef5da 20% ,#6058f8 20%, #6b63fffb 20% ,#4640bbe3 40%);
        }
        @include media-min-md{
            padding: 15px 20px;
            margin: 0;
        }
        button{
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            border: none;
            @include font-style($font-bold-light);
            &:hover{
                background-color: white;
            }
            @include media-min-md{
                padding: 10px 15px;
            }
        }
    }
}
.quotes-section{
    padding: 15px;
    @include media-min-md{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    @include media-min-lg{
        width: 60%;
        margin: 20px auto;
        padding: 0;
    }
    .mandino-quote{
        padding: 10px 0;
        text-align: center;
        @include media-min-md{
            width: 47%;
        }
    }
    .mandino-quote-content{
        padding: 15px 0;
        @include media-min-md{
            width: 47%;
        }
        .fas{
            color: grey;
            font-size: 30px;
            margin-bottom: 10px;
            @include media-min-xl-x{
                font-size: 3rem;
                margin-bottom: 20px;
            }
        }
        h4{
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3;
            @include media-min-xl-x{
                font-size:2rem
            }
        }
        p{
            padding: 20px 0;
            @include font-style($font-bold-light);
            @include media-min-xl-x{
                padding: 2rem 0;
                font-size: 20px;
            }
        }
    }
}
.awesome-team{
    padding: 15px;
    text-align: center;
    @include media-min-xl{
        width: 80%;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        padding: 5rem 0;
    }
    .heading-team{
        font-size: 20px;
        @include font-style($font-light-bold);
        padding: 15px 0;
        letter-spacing: 5px;
        @include media-min-xl{
            padding: 0 0 20px 0;
            font-size: 25px;
        }
    }
    .our-awesome-team{
        @include font-style($font-regular);
        font-size: 1.5rem;
        padding-bottom :2rem;
        @include media-min-xl{
            font-size: 3rem;
            padding-bottom: 4rem;
        }
    }
    .team{
        @include media-min-md{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 20px;
            grid-column-gap: 20px;
            @include media-min-xl-x{
            }
        }
        .peoples{
            box-shadow: 0 0 12px 2px rgba(128, 128, 128, 0.418);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            @include media-min-xl{
                justify-content: unset;
                width: 80%;
            }
            @include media-min-xl-x{
                width: 70%;
                margin-top: 30px;
            }
            &:hover{
                background: linear-gradient(135deg, rgb(64, 61, 233) 60%, rgba(80, 46, 202, 0.781));
                color: white;
            }
            .image-team{
                width: 47%;
                img{
                    width: 100%;
                    @include media-min-xl{
                        width: 150px;
                    }
                }
            }
            .team-content{
                width: 47%;
                text-align: left;
                h4{
                    @include  font-style($font-bold-light);
                }
                h5{
                    @include font-style($font-light-bold);
                    padding: 10px 0;
                }
            }
        }
    }
}
.important-person-ceo{
    padding: 15px;
    @include media-min-md{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    @include media-min-xl{
        width: 80%;
        margin: 0 auto 50px;
        padding: 0;
        grid-column-gap: 30px;
    }
    @include media-min-xl-x{
        grid-column-gap: 50px;
    }
    .person-1-ceo{
        box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.418);
        margin-top: 15px;
        &:hover{
            border: 1px solid rgb(103, 101, 233);
        }
        .details-ceo{
            padding: 20px 25px;
            .info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 25px;
                h5{
                    font-size: 15px;
                    @include font-style($font-regular);
                }
                .time{
                    margin-right: 15px;
                }
                .ceo{
                    margin-right: 5px;
                }
            }
            h4{
                @include font-style($font-bold-light);
                font-size: 25px;
                margin-bottom: 30px;
                @include media-min-xl-x{
                    font-size: 2rem;
                }
            }
            a{
                color: rgb(13, 85, 240);
                @include media-min-xl-x{
                    font-size: 1.4rem;
                }
            }
        } 
    }
}
.newsletter-section{
    background: linear-gradient(130deg,#4b5beed8 10% ,#706eec 40%,#665de9e3 20%);
    text-align: center;
    padding:3rem 15px;
    @include media-min-xl-x{
        padding: 5rem 0;
    }
    .newsletter-wrapper{
        @include media-min-md{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: 0 auto;
        }
        h5{
            color: whitesmoke;
            @include font-style($font-bold-light);
            font-size: 1.2rem;
            padding: 15px 0;
            @include media-min-md{
                padding: 0
            }
            @include media-min-lg{
               font-size: 1.4rem;
            }
            @include media-min-xl{
                width: 48%;
            }
            @include media-min-xl-x{
                font-size: 2rem;
            }
        }
        .input-button{
            margin-top: 1rem;
            @include media-min-md{
                padding: 0;
                margin: 0;
            }
            @include media-min-xl{
                width: 48%;
            }
            .subcribe-text{
                width: 60%;
                padding:  6px 15px;
                color: grey;
                border: 1px solid white;
                @include media-min-md{
                    padding: 8px 20px;
                }
                @include media-min-lg{
                   padding: 10px 20px;
                }
                @include media-min-xl-x{
                    font-size: 20px;
                }
            }
            button{
                padding: 6px 10px;
                background: linear-gradient(150deg, darkorange 40%, #f3ba0efb 60%);
                border: none;
                @include font-style($font-bold-light);
                color: whitesmoke;
                cursor: pointer;
                @include media-min-md{
                    padding: 8px 20px;
                }
                @include media-min-lg{
                    padding: 10px 20px;
                }
                @include media-min-xl-x{
                    font-size: 20px;
                }
            }
        }
    }
}