header{
position: sticky;
top: 0;
// background-color: rgba(0, 0, 0, 0.349);
background-color: whitesmoke;
// z-index: 4;
// background: linear-gradient(#4b5beef6, #6672f0);
// background: linear-gradient(135deg, #4052f6 10%,red,yellow,darkblue, #7983f3);
.header-wrapper{
    // background-color: whitesmoke;
    // position: -webkit-sticky; /* Safari */
    // position: sticky;
    // top: 0;
    color: black;
    .nav-head{
        // position: sticky;
        // top: 0px;
        h2{
            font-size: 2rem;
            @include font-style($font-light);
            @include media-min-lg-x{
                font-size: 3rem;
            }
        }
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-min-lg-x{
            padding: 2rem 15px;
        }
        @include media-min-xl{
            width: 80%;
            margin: 0px auto;
            padding: 1rem 0;
        }
        .menus{
            @include media-min-lg{
                display: flex;
                align-items: center;
            }
            .hide{
                display: none;
                @include media-min-lg{
                    display: block;
                    color: black;
                    font-size: 18px;
                    // background-color: red;
                    margin-right: 15px;
                    @include font-style($font-bold-light);
                    padding: 10px 15px;
                }
            }
            .sign{
                color: black;
                font-size: 18px;
                @include font-style($font-bold-light);
                border-radius: 20px;
                padding: 10px 15px;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
}